<?xml version="1.0" encoding="utf-8" ?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="AccordionExtender"></control>
      <control name="CalendarExtender"></control>
      <control name="ToggleButtonExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>